#content {
    background: rgba(227, 196, 120, 0.1);
    margin-top: 0;

    nav {
        height: 40px;
        background: #512F3C;
        ul {
            list-style-type: none;
            li {
                @include span(4 first);
                margin-left: auto;
                margin-right: auto;
                display: inline;
            }
        }
    }

    main {
        background: rgba(40, 13, 33, 0.8);
        min-height: $webkit-min-body-height;
        min-height: $moz-min-body-height;
        min-height: $calc-min-body-height;
    }
}