/* =======================================================================
## ++ Media Queries
========================================================================== */

/* 
    Used for media queries. 
    Add these mixins in your normal scss flow.
    
    Eg.
    .container{
        width:1024px;
        
        @include tablets{
            width:90%;
        }
    }
*/ 

@mixin lowresmonitors{
        @media screen and (max-width: 1350px){ @content;}
}

@mixin tablets{
        @media screen and (max-width: 1100px){ @content; }
}

@mixin phones{
        @media screen and (max-width: 720px){ @content; }
}

/* =======================================================================
## ++ Unit transform
========================================================================== */

/*  
    Used for making containers have width in percentages. 
    Usage: define elemnt width in px and the width of parent elemnt in px. 
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}   
*/

@function cp($target, $container) {
    @return ($target / $container) * 100%;
}

/*  
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/

@function rem($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0rem;
}
$base-font-size:16px;

//
// mixin for bullet proof font declaration syntax
//
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url(../fonts/#{$font-filename}.eot);
        src: url(../fonts/#{$font-filename}.eot?#iefix) format('embedded-opentype'),
        url(../fonts/#{$font-filename}.woff) format('woff'),
        url(../fonts/#{$font-filename}.ttf) format('truetype'),
        url(../fonts/#{$font-filename}.svg##{$font-family}) format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
        font-stretch: $font-stretch;
    }
}

@include declare-font-face('Oswald', 'Oswald-light', lighter);
@include declare-font-face('Lato-Bold', 'Lato-Bold');
@include declare-font-face('Lato', 'Lato-Regular');
@include declare-font-face('Overlock', 'Overlock-Bold', bold);
@include declare-font-face('Noto-Bold', 'NotoSans-Bold');
