$test-background-color:	#464646;

$header-height:		424px;
$header-padding:	8px;
$body-margin:		50px;
$footer-margin:		70px;
$footer-padding:	60px;
$nav-height:		40px;
$webkit-min-body-height:	-webkit-calc(100% - (#{$header-height} + #{$body-margin} + #{$footer-margin} + (#{$footer-padding} * 2) + #{$nav-height}));
$moz-min-body-height:		-moz-calc(100% - (#{$header-height} + #{$body-margin} + #{$footer-margin} + (#{$footer-padding} * 2) + #{$nav-height}));
$calc-min-body-height:		calc(100% - (#{$header-height} + #{$body-margin} + #{$footer-margin} + (#{$footer-padding} * 2) + #{$nav-height}));

$content-border-radius:		5px;
$bp-medium: 32em;
$bp-large: 60em;
$breakpoint-no-query-fallbacks: true;